<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body class="body ft-verdana bg-white-2 black-2">
	<header class="header">
		<div class="container">
			<div class="logo">
				{{> panel }}
			</div>
			<nav class="clearfix white-1 bg-black-3 mx-auto mb2">
				<div class="flex sm-flex">
					<a href="/" class="button center py2 text--center flex-grow-1">Home</a>
					<a href="/resume" class="button center py2 text--center flex-grow-1">Resume</a>
					<a href="/projects" class="button center py2 text--center flex-grow-1">Portfolio</a>
				</div>
			</nav>
		</div>
	</header>
